{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link
        rel='stylesheet'
        type='text/css'
        href='{{ asset('bundles/frontend/jquery/plugin/datepicker/css/datepicker.css') }}'
    >
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
    {{ tinymce_init() }}
    <script
        type="text/javascript"
        src="{{ asset('bundles/frontend/jquery/plugin/datepicker/js/bootstrap-datepicker.js') }}">
    </script>
    <script
        src='{{ asset('bundles/aipprofilage/js/create_form_cycle.js') }}'
        type="text/javascript">
    </script>
{% endblock %}

{% block section_content %}
{% if type == 'create' %}
    {% set typeText = 'cycledeviecompetence_creation_cycle' %}
    {% set validationPath = path('claro_cycledeviecompetence_create', {'aggregateId': _resource.getId()}) %}
{% else %}
    {% set typeText = 'cycledeviecompetence_edition_cycle' %}
    {% set validationPath = path('claro_cycledeviecompetence_edit',{'cycledeviecompetenceId':cycledeviecompetence.getId()}) %}
{% endif %}    

<div>
    {{
        macros.breadcrumbs([
            {
                'name': 'cycledeviecompetence_list_cycle'|trans({}, 'cycledeviecompetence'),
                'href': path('claro_cycledeviecompetence_list', {'aggregateId': _resource.getId()})
            },
            {
                'name': typeText|trans({}, 'cycledeviecompetence'),
                'href': '#'
            }
        ])
    }}

    <div>
        {{ macros.flashBox() }}
    </div>

    <h3>
        {% if type == 'create' %}
            {{ typeText|trans({}, 'cycledeviecompetence') }}
        {% else %}
            {{ typeText|trans({}, 'cycledeviecompetence') }}
        {% endif %}
    </h3>
    <br>
    <form
        class="form-horizontal"
        action="{{ validationPath }}"
        method="post" {{ form_enctype(form) }}
        id="cycledeviecompetence-form"
    >
        {{ form_widget(form) }}

        <div class="form-actions panel-footer">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            <a href="{{ path('claro_grillecompetence_list', {'aggregateId': _resource.getId()}) }}">
                <button  type="button" class="btn btn-default">{{ 'cancel'|trans({}, 'platform') }}</button>
            </a>
        </div>
    </form>
</div>

{% endblock %}