{% macro renderPager(pager, aggregate) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_etape_list',
                'routeParams': {'aggregateId': aggregate.getId()}
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script
        src='{{ asset('bundles/aipprofilage/js/etape_list.js') }}'
        type="text/javascript"
    >
    </script>
{% endblock %}

{% block section_content %}
<div>
    {{
        macros.breadcrumbs([
            {
                'name': 'parcours_list'|trans({}, 'parcours'),
                'href': path('claro_etape_list', {'aggregateId': _resource.getId()})
            }
            
            
        ])
    }}

    <div>
        {{ macros.flashBox() }}
    </div>
<div class="panel-body">
    <h4>{{ 'resource'|trans({}, 'platform') }} : {{ _resource.getResourceNode().getName() }}</h4>
    <br>

    {% if is_granted('EDIT', resourceCollection) %}
    <div>

       
         
       
        <a  href="{{ path('claro_etape_create_form', {'aggregateId': _resource.getId()}) }}">
            <button class="btn btn-primary">
             <i class="icon-file">
                </i> 
                {{ 'create_new_etape'|trans({}, 'parcours') }}
            </button>
        </a>
        <br>
       <br>
        
        <a  href="{{ path('claro_etape_competence_list', {'aggregateId': _resource.getId()}) }}">
            <button class="btn btn-primary">
             
                </i> 
                {{ 'competence_list'|trans({}, 'parcours') }}
            </button>
        </a>
           {% endif %}
 <div class="margin">
 {% set nbPages = etape.getNbPages() %}

        {% if nbPages > 1 %}
            {{ renderPager(parcours, _resource) }}
        {% endif %}
        <br>
        <br>
        <div class="table-responsive">
            <table  class="table table-striped table-bordered table-condensed" id="group-table">
                <thead>
                    <tr>
                        
                        <th> Nom de la tache</th>
                        <th>Description de la tache</th>
                        <th>Competence</th>
                        <th>Ressource</th>
                       {% if is_granted('EDIT', resourceCollection) %}
                        <th>Editer</th>
                        <th>Supprimer</th>
                        {% endif %}
                        <th>Réalisation</th>
                    </tr>
                </thead>
                <tbody id="group-table-body">
                
                 {% for etape in etape %}
                     
                    <tr/>
                    <td>
                            {{ etape.getNom() }}
                    </td>  
                    <td>
                            {{ etape.getDescription() }}
                    </td>  
                     <td>
                            {{ etape.getCompetence() }}
                    </td> 
                    <td>
                           
                             {% set nomressource = etape.getNomressource() %}
                             {% set nodeid = etape.getNodeid() %}
                             {% set etat = etape.isEtat() %}
                             {% if etat is not null %}
                             
                 <a href="{{ path('claro_resource_open',{'resourceType':etape.getNomressource(),'node':etape.getNodeid()}) }}">
                        <button type="button" class="btn btn-primary">
                            {{ etape.getRessource() }}
                        </button>
                        {% else %}
                     <font color='red'>En attente </font>
                     {% endif %}
                        
                 </a>           
                           
                         
                    </td>  
                    
                   {% if is_granted('EDIT', resourceCollection) %}
                     <td>
                            <a class="pull-right" href="{{ path('claro_etape_edit_form', {'etapeId': etape.getId()}) }}" >
                                    <i class="icon-edit"></i>
                            </a>
                    </td>
                            
                     <td> <button
                        type="button"
                        class="etape-delete-button btn btn-default"
                        btn-etape-id="{{ etape.getId() }}"
                    >
                        &times;
                    </button>
                      </td>
                     {% endif %}
                     <td>
                     {% set etat = etape.isEtat() %}
                     {% if etat is not null %}
                     <a class="pull-right" href="{{ path('claro_etape_edit_competence', {'etapeId': etape.getId()}) }}" >
                        <button type="button" class="btn btn-primary">
                          Consulter
                        </button>              
                     </a>
                     {% else %}
                    <font color='red'>En attente </font>
                     {% endif %}
                     
                     </td>
                      
                      </tr>
                       
                 {% endfor %}
               
                </tbody>
            </table>
            {% if nbPages > 1 %}
            {{ renderPager(parcours, _resource) }}
        {% endif %}
        </div>
         
   
    
</div>
 <div id="delete-etape-validation-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{{ 'etape_delete_confirm_title'|trans({}, 'parcours') }}</h3>
            </div>
            <div class="modal-body">
                <p>{{ 'etape_delete_confirm_message'|trans({}, 'parcours') }}</p>
            </div>
            <div class="modal-footer">
                <input type="button" id="delete-confirm-ok" class="btn btn-primary" value="{{ 'ok'|trans({}, 'platform') }}"/>
                <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'cancel'|trans({}, 'platform') }}"/>
            </div>
        </div>
    </div>
</div>
 

{% endblock %}