{% macro renderPager(pager, workspaceId) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_workspace_preference_pager',
                'routeParams': {'workspaceId': workspaceId}
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% block javascripts %}
    <script
        src='{{ asset('bundles/aipprofilage/js/workspace_widget_preference.js') }}'
        type="text/javascript"
    >
    </script>
{% endblock %}

{% set nbpreference = datas|length %}

{% if nbpreference > 0 %}
    {% set nbPages = datas.getNbPages() %}

    <div id="workspace-widget-pager" workspace-id="{{ workspaceId }}">

        {% if nbPages > 1 %}
            {{ renderPager(datas, workspaceId) }}
        {% endif %}
        <ul class="list-group">

              {% for data in datas %}
                <li class="list-group-item">
                    {% set titre = data['preference'].getTitre() %}

                    {% if titre is not null %}
                        <h4 class="list-group-item-heading"><b>{{ titre }}</b></h4>
                    {% endif %}
                    <div class="list-group-item-text">
                        {{ data['preference'].getType()|raw }}
                    </div>

                    <div class="list-group-item-text text-muted">
                        <small>
                            {{ 'published_on'|trans({}, 'preference') }}
                            {{ data['preference'].getPublicationDate().format('d-m-Y') }}
                            
                        </small>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% if nbPages > 1 %}
            {{ renderPager(datas, workspaceId) }}
        {% endif %}
    </div>
{% else %}
    {{ 'no_preference_widget_message'|trans({}, 'widget') }}
{% endif %}